.head2{
    background-color: yellow;
}
.head2_classList{
    color: red;
}
.valli{
    /* transform:translate(200px,200px); */
    transition-property: transform ;
    transition-duration: 1s;
    /* linear: it moves constant timing speed */
    transition-timing-function:linear;
    transition-delay: 1s; 
}
.valli:hover{
    transform: translate(200px);

}
.vallicontainer{
    width: 600px;
    height: 300px;
    background-image: url('https://cdn.pixabay.com/photo/2023/03/27/14/18/british-shorthair-7880879_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    content: "hello";
}
.vallicontainer:hover::after{
    content:'Hello';
}